.cursor-pointer{
    cursor: pointer;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.box-center{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.m-none{
    margin: unset;
}
html, body{
    height: 100%;
}

.dot-dot-dot{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
