<!DOCTYPE html>
<html lang="vi" style="scroll-behavior: smooth;" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Nếu bạn đang tìm hieupham cái web mà chấm điểm rèn luyện (drl, diemrenluyen) cho sinh viên BK (HUST), hay xếp thời khóa biểu (tkb), tool xếp lịch học online (time table,  time-table, timetable app) của Bách Khoa, hay phần mềm xếp thời khóa biểu bằng excel, thì bạn tìm thấy mình rồi, hieupham2k1.">
    <link rel="icon" href="/picture/home/me.jpg">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Facebook preview -->
    <meta property="og:image" content="/picture/home/me.jpg" />
    <meta property="og:title" content="Cảm ơn vì đã ủng hộ App của mình!" />

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <script defer src="/js/bootstrap.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N63N6XJRR2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N63N6XJRR2');
    </script>

    <!-- Schema.org -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Thing",
        "name": "Tool",
        "url": "https://hieupham2k1.web.app",
        "image": "https://hieupham2k1.web.app/picture/home/me.jpg",
        "description": "Pham Trung Hieu"
      }
    </script>
    
    <meta name="google-site-verification" content="pktnj08hwqngbgo0XRVpbRkTAaa6HDgoHqLzQjmWddA" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
