<template>
	<div id="app">
		<div id="nav" class="px-5 py-5">
			<h1 class="mt-3">
				<router-link :to="{ name: 'Home' }">Hieupham2k1</router-link> | {{ $route.name }}
			</h1>
		</div>
		<router-view/>
	</div>
</template>

<style lang="scss">
	@import './../public/custom.css';
	@import './../public/font-awesome/all.min.css';
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #2c3e50;
	}

	#nav {
		background-image: url('./assets/layered-waves-haikei.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		display: flex;
		color: white;
		a {
			font-weight: bold;
		}
	}
</style>
