<template>
	<div>
		<div class="modal px-0 px-md-5" :id="id" tabindex="-1" role="dialog" :aria-labelledby="id + 'Label'" aria-hidden="true">
            <div class="modal-dialog mt-5 mx-auto" role="document">
                <div class="modal-content bg-dark text-white">
					<div class="modal-header">
						<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="mt-3 text-center">
						<h2 class="modal-title">
							App TimeTable là gì?
						</h2>
					</div>
					<div class="modal-body overflow-auto">
						<h5 class="font-italic">Là gì</h5>
						<div>
							<ul>
								<li>Một công cụ giúp xếp thời khóa biểu cho sinh viên Bách Khoa</li>
							</ul>
						</div>

						<hr>
						<h5 class="font-italic">Vì sao làm</h5>
						<div>
							<ul>
								<li>Ý tưởng làm app này nảy sinh khi tôi phải <i>xếp lịch học</i></li>
								<br>
								<ul>
									<li>Tôi muốn 1 lịch học thời gian <i>khít nhau</i> hoặc <i>trống cả 1 buổi</i> để đi làm thêm</li>
									<br>
									<li>Tuy nhiên, các lớp học được phép đăng ký lại nằm hết trong 1 file Excel, thông tin <i>dày đặc</i> và <i>rất khó lọc, khó hình dung</i></li>
									<br>
									<li>Xếp được 1 cái lịch ưng ý là rất khó, nhưng rắc rối lại đến khi <i>lớp mình muốn đã đầy</i>, giờ lại phải mở file Excel tìm 1 lớp khác, nhanh trước khi lớp đó cũng đầy</li>
								</ul>
								<br>
								<li>Đó là lúc tôi quyết định làm 1 app "cây nhà lá vườn" để giúp mình xếp lịch 1 cách trực quan, dễ dàng</li>
								<li>Và sau đó tôi share lên nhóm Hỗ trợ học tập cho những ai cùng nhu cầu, hóa ra rất nhiều người cũng cùng "nỗi đau"</li>
							</ul>
						</div>

						<hr>
						<h5 class="font-italic">Làm như nào</h5>
						<div>
							<ul>
								<li>App sẽ đọc file Excel mà người dùng upload lên, phân chia các lớp theo mã học phần, ngày học trong tuần và giờ học. Từ đó có 1 <i>không gian 3 chiều</i> để xếp các lớp lên</li>
								<br>
								<li>Khi người dùng chọn 1 lớp để xếp vào bảng, tôi chỉ cần theo ánh xạ ở trên và tìm ra các ngày, các giờ của lớp đó</li>
								<br>
								<li>Như 1 tấm bảng vật lý, các môn học có thể xếp chồng lên nhau được, từ đó giải quyết vấn đề kín lớp đã khiến bao sinh viên cay đắng</li>
								<br>
								<li>App còn hỗ trợ lưu lại thông tin trong file Excel vào local storage để không phải upload nhiều lần, hoặc xuất thời khóa biểu ra file để có thể xem lại nhiều lần</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
props: ['id'],
}
</script>

<style lang="css" scoped>
	img {
		width: 50%;
		border: 1px solid;
		border-radius: 5px;
	}
</style>