<template>
	<div>
		<div class="modal px-0 px-md-5" :id="id" tabindex="-1" role="dialog" :aria-labelledby="id + 'Label'" aria-hidden="true">
            <div class="mt-5 mx-auto" role="document">
                <div class="modal-content bg-dark text-white">
					<div class="modal-header">
						<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="mt-3 text-center">
						<h2 class="modal-title">
							Các cách nhập mã học phần
						</h2>
					</div>
					<div class="modal-body overflow-auto mx-md-5">
						<h5 class="font-italic">Cách 1: Nhập Mã học phần hoặc Tên học phần</h5>
						<br>
						<div class="text-center">
							<img src="/picture/time-table/input-by-code.png" alt="TKB hust">
						</div>
						<br>
						<div class="text-center">
							<img src="/picture/time-table/input-by-name.png" alt="TKB hust">
						</div>

						<hr>
						<h5 class="font-italic">Cách 2: Copy trực tiếp từ bảng Đăng ký học phần</h5>
						<br>
						<div class="text-center">
							Bước 1: Kéo chuột qua các Mã học phần
						</div>
						<div class="text-center">
							<img src="/picture/time-table/input-by-drag-1.png" alt="TKB hust">
						</div>
						<br>

						<div class="text-center">
							Bước 2: Copy phần vừa bôi đen
						</div>
						<div class="text-center">
							<img src="/picture/time-table/input-by-drag-2.png" alt="TKB hust">
						</div>
						<br>

						<div class="text-center">
							Bước 3: Dán vào ô <b>Tên hoặc mã HP muốn đăng ký</b>
						</div>
						<div class="text-center">
							<img src="/picture/time-table/input-by-drag-3.png" alt="TKB hust">
						</div>
						<br>

						<div class="text-center">
							Bước 4: Nhấn Enter hoặc click ra ngoài, các mã học phần sẽ được tự động nhập
						</div>
						<div class="text-center">
							<img src="/picture/time-table/input-by-drag-4.png" alt="TKB hust">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
props: ['id'],
}
</script>

<style lang="css" scoped>
	img {
		width: 50%;
		border: 1px solid;
		border-radius: 5px;
	}
</style>