<div class="mx-3">
	<div class="row my-5 pl-3 pl-md-5">
		<h2 class="col-12 text-center mb-4">
			Xếp Lịch học
			<!-- <div class="float-right d-none d-md-block">
				<button class="btn btn-primary" data-toggle="modal" data-target="#explainAppModal">App gì đây?</button>
			</div> -->
		</h2>
		<label class="col-12 col-md-3">Tải lên Thời khóa biểu dự kiến</label>
		<div class="col-12 col-md-6 px-0">
			<el-upload
				class="upload"
				drag
				action=""
				accept=".xlsx"
				:auto-upload="false"
				:file-list="fileList"
				:on-change="uploadFile"
				:on-remove="() => { fileList.length = 0 }"
				@click.native="uploadButtonClick"
				@drop.native="uploadButtonClick"
			>
				<div class="el-upload__text">
					Kéo thả file vào đây hoặc <em>click để Tải lên</em>
				</div>
				<template #tip>
					<div v-if="fileList.length == 0">
						<small class="pl-3 pl-md-0">
							Tải file Excel TKB tại
							<a target="_blank" href="https://www.facebook.com/EsHUST.hust">EsHUST</a>
						</small>
						<span v-if="rawTable.length == 0 && hasExpectedTimeTableInStorage()" class="float-right">
							<el-tooltip content="Load file 'TKB dự kiến' mà bạn đã lưu lần trước">
								<button @click="loadExpectedTimeTableFromStorage()" class="btn btn-sm btn-secondary font-10">
									Tải lên {{ expectedTimeTableName }}
								</button>
							</el-tooltip>
						</span>
					</div>
					<div v-else-if="!isImported" class="text-right">
						<el-tooltip content="Lưu lại file 'TKB dự kiến' để lần sau dùng app bạn không cần upload nữa.">
							<button @click="saveExpectedTimeTableToStorage()" class="btn btn-sm btn-secondary font-10">
								Lưu lại {{ fileList[0].name }}
							</button>
						</el-tooltip>
					</div>
				</template>
			</el-upload>
		</div>
	</div>
	<div v-if="isLoading">
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 47%;" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100">Loading 47%</div>
		</div>
	</div>
	<div class="row my-2 pl-3 pl-md-5">
		<label class="col-12 col-md-3">
			Tên hoặc Mã HP muốn đăng ký
			<i data-toggle="modal" data-target="#inputTutorialModal" class="fas fa-question-circle cursor-pointer mx-1" style="font-size: 12px;" title="Click vào để xem hướng dẫn"></i>
		</label>
		<div class="col-12 col-md-6 px-0">
			<input @input="getSugestion($event)" @keydown.enter="addSubjectToRegisterList()"
				@keydown.down="chooseSugestion(1)"
				@keydown.up="chooseSugestion(-1)"
				@blur="addSubjectToRegisterList()"
				placeholder="Tên hoặc Mã HP"
				ref="subjectCode" type="text" class="form-control" />
		</div>
	</div>
	<div class="row my-2 pl-3 pl-md-5">
		<div class="col-12 col-md-3"></div>
		<div class="col-12 col-md-6">
			<ul ref="sugestSubjectsHolder" class="list-group cursor-pointer subject-sugest">
				<li v-for="subject, index in sugestSubjects" :key="index"
					@click="clickToAddSubjectToRegisterList(subject, index)"
					:class="{ 'active': currentSugestSubject == index }"
					class="list-group-item">
					{{ getRowInfo(subject, 'subjectCode') }}: {{ getRowInfo(subject, 'subjectName') }}
				</li>
			</ul>
		</div>
	</div>
	<div v-if="subjectCodes.length > 0" class="row my-2 pl-3 pl-md-5">
		<label class="col-12 col-md-3">Các học phần muốn đăng ký:</label>
		<div class="col-12 col-md-6" style="white-space: break-spaces;">
				<span class="pl-3 pl-md-0" v-for="subjectCode, index in subjectCodes" :key="index">
					<el-tooltip :content="subjectNameMap[subjectCode] ? subjectNameMap[subjectCode] : 'Không tìm thấy'">
						<span>
							{{ subjectCode }}
							<sup class="text-danger cursor-pointer" @click="subjectCodes.splice(index, 1)">x</sup>
							<span v-if="index != subjectCodes.length - 1">, </span>
						</span>
					</el-tooltip>
				</span>
		</div>
	</div>
	<div class="row my-2 pl-3 pl-md-5">
		<label class="col-12 col-md-3">Chương trình học</label>
		<select v-model="programName" class="form-control col-12 col-md-6">
			<option value="CT CHUẨN">CT CHUẨN</option>
			<option value="Elitech">Elitech</option>
			<option value="SIE">SIE</option>
			<option value="All">Tất cả</option>
		</select>
	</div>
	<div class="row mt-4 justify-content-center">
		<button class="btn btn-outline-primary" @click="findClasses()">Tìm lớp</button>
	</div>
	<hr>

	<h5 class="pl-3 my-3 text-success"><b><small ref="not-exist-code"></small></b></h5> <!-- needed to show unavailable class in 1 program -->
	<div v-if="Object.values(jsonTable).length > 0" class="alert alert-warning" role="alert">
		<strong><i class="fas fa-exclamation-triangle mx-2"></i>Bạn có thể kéo thả các học phần vào bảng thời khóa biểu bên dưới</strong>
		(Hoặc click cũng được)
	</div>
	<div v-show="isTableVisible()" class="row px-3 my-2">
		<label class="pt-2">Chiều cao bảng</label>
		<el-slider v-model="tableHeight" :max="10" :min="2" :step="1" @input="changeTableHeight()" class="col-3 col-md-1" />
	</div>
	<div class="pl-3 row">
		<div v-for="s, subjectCode in jsonTable" :key="subjectCode" class="col-8 col-md-6 col-lg-4 col-xl-3">
			<div class="row">
				<div class="col-11 cursor-pointer subject-code m-1"
					:class="{ 'active': choosingSubject == subjectCode }"
					@click="chooseSubject(subjectCode, s.subjectName)"
					@dragstart="chooseSubject(subjectCode, s.subjectName)"
					draggable="true">
					<el-tooltip placement="right" :content="s.subjectName + ' (Khối lượng: ' + s.creditsInfo + ')'">
						<div class="dot-dot-dot">{{ subjectCode }}: {{ s.subjectName }}</div>
					</el-tooltip>
					<span class="text-success ml-auto">{{ getChosenClassTypes(subjectCode) }}</span>
				</div>
				<div class="text-secondary d-flex align-items-center cursor-pointer" @click="s.show = !s.show; $forceUpdate()">
					<i v-if="s.show" class="fas fa-chevron-circle-up"></i>
					<el-tooltip v-else placement="right" content="Xem chi tiết các lớp có thể xếp vào lịch">
						<i class="fas fa-chevron-circle-down"></i>
					</el-tooltip>
				</div>
			</div>
			<ul v-show="s.show">
				<div v-for="c, classCode in s" :key="classCode">
					<li v-if="classCode != 'subjectName' && classCode != 'show'">
						<div>{{ classCode }} ({{ c.classType }})</div>
						<ul>
							<li v-for="row in c" :key="row.id">
								Thứ {{ getRowInfo(row, 'day') }}, {{ row.start }}-{{ row.end }}
								<el-tooltip enterable>
									<div slot="content">
										<table><tbody>
											<tr><th v-for="title in rawTitle" :key="title" class="border-left border-bottom p-2">{{ title }}</th></tr>
											<tr><td v-for="(info, index) in row" :key="index" class="border-left p-2">{{ info }}</td></tr>
										</tbody></table>
									</div>
									<i class="fas fa-info-circle cursor-pointer"></i>
								</el-tooltip>
							</li>
						</ul>
					</li>
				</div>
			</ul>
		</div>
	</div>

	<OverlayClassesModal id='selectClassModal' />

	<!-- Table -->
	<div v-if="isTableVisible()" class="mt-2 mb-5">
		<table ref="table" class="position-relative" :style="{ 'width': innerWidth + 'px' }">
			<tbody>
				<tr class="row" style="flex-wrap: nowrap;">
					<th class="col-1"></th>
					<th id="anchor" class="col-2 border-right border-dark">2</th>
					<th class="col-2 border-right border-dark" v-for="i in 5" :key="i">{{ i+2 }}</th>
				</tr>
				<tr class="row dotted-border" v-for="time, index in tableTime" :key="index"  style="flex-wrap: nowrap;" 
					:style="{ height: (tableTime[index + 1] - time) / panelRatio + 'px' }">
					<td class="col-1 border-right border-dark text-right bg-light">
						<div class="translate-up bg-light"><small class="">{{ time }}-</small></div>
					</td>

					<td class="col-2 overflow-auto" v-for="i in 6" :key="i" style="height: 100%;"
						@dragover.prevent=""
						@drop.prevent="chooseClass(isChoosing[i+1] ? isChoosing[i+1][time] : null)"
						@click="chooseClass(isChoosing[i+1] ? isChoosing[i+1][time] : null)"
						:class="{
							'choosable z-top cursor-pointer': isChoosing[i+1] && isChoosing[i+1][time],
						}"
					>
						<span v-if="isChoosing[i+1] && isChoosing[i+1][time] && time == isChoosing[i+1][time][0].start">
							<el-tooltip
								placement="top"
								:content="isChoosing[i+1][time].length > 1 ? (isChoosing[i+1][time].length + ' lớp trùng thời gian') : 
								'(' + getRowInfo(isChoosing[i+1][time][0], 'classType') + ')' + getRowInfo(isChoosing[i+1][time][0], 'subjectName')"
							>
								<span>
									(<span v-for="c, index in isChoosing[i+1][time]" :key="index">
										{{ getRowInfo(c, 'classType') }}<span v-if="index != isChoosing[i+1][time].length - 1">, </span>
									</span>)
									{{ getRowInfo(isChoosing[i+1][time][0], 'subjectName') }}
								</span>
							</el-tooltip>
						</span>
					</td>
				</tr>
			</tbody>
		</table>

		<div v-if="chosenClasses.length > 0" class="text-center my-5">
			<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
				<button class="btn btn-outline-primary" @click="done()">
					<i class="fas fa-check-circle mx-1"></i>
					<el-tooltip content="Cố định lịch và lấy ra các mã lớp">
						<span>Xong</span>
					</el-tooltip>
				</button>
				<button class="btn btn-outline-primary" @click="exportFile()">
					<i class="fas fa-download mx-1"></i>
					<el-tooltip content="Xuất ra file Excel để lần sau xem hoặc sửa">
						<span>Xuất file</span>
					</el-tooltip>
				</button>
				<button class="btn btn-outline-primary" @click="saveToLocal()">
					<i class="fas fa-save mx-1"></i>
					<el-tooltip content="Lưu lại trong Browser để lần sau xem hoặc sửa (bằng cách nhấn 'Import TKB')">
						<span>Lưu trong Browser</span>
					</el-tooltip>
				</button>
			</div>
			<div ref="result" class="row justify-content-center px-3 my-4"></div>
		</div>
	</div>
	<div v-else-if="Object.values(jsonTable).length == 0" class="my-4">
		<div>
			<a class="cursor-pointer" style="font-size: 14px;" data-toggle="collapse" data-target="#collapseImport" aria-expanded="false" aria-controls="collapseImport">
				Xem TKB đã
				<b><i data-v-2295923e="" class="fas fa-download mx-1"></i>Xuất file</b>
				hoặc <b><i data-v-2295923e="" class="fas fa-save mx-1"></i>Lưu trong Browser</b>
			</a>
		</div>
		<div class="collapse" id="collapseImport">
			<div>
				<small class="text-secondary">* Nếu đã xếp lịch xong và xuất ra file thì nhấn <b>Nhập file</b> vào để nhập và xem lịch</small>
			</div>
			<div class="row justify-content-center">
				<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
					<button class="btn btn-outline-primary" @click="importButtonClick()">
						<i class="fas fa-file-upload mx-1"></i>Nhập file
					</button>
					<button v-if="hasLocalTimeTable" class="btn btn-outline-primary" @click="importFromLocal()">
						<i class="fas fa-folder-open mx-1"></i>Nhập từ Lưu trữ Browser
					</button>
				</div>
			</div>
		</div>
	</div>

	<FooterTutorial :isTableVisible="isTableVisible()" />
	<br>

	<el-tooltip v-show="!$isMobile() && Object.values(jsonTable).length > 0" content="Chọn Học phần">
		<button class="drawer-button" @click="drawer = true">
			<i class="fas fa-angle-right"></i>
		</button>
	</el-tooltip>

	<el-drawer
		size="20%"
		title="Chọn Học phần"
		:visible.sync="drawer"
		:direction="'ltr'"
	>
		<div class="pl-3">
			<div v-for="s, subjectCode in jsonTable" :key="subjectCode">
				<div class="row">
					<div class="col-11 cursor-pointer subject-code m-1"
						:class="{ 'active': choosingSubject == subjectCode }"
						@click="chooseSubject(subjectCode, s.subjectName)"
						@dragstart="chooseSubject(subjectCode, s.subjectName)"
						draggable="true">
						<el-tooltip placement="right" :content="s.subjectName">
							<div class="dot-dot-dot">{{ subjectCode }}: {{ s.subjectName }}</div>
						</el-tooltip>
						<span class="text-success ml-auto">{{ getChosenClassTypes(subjectCode) }}</span>
					</div>
				</div>
			</div>
		</div>
	</el-drawer>

	<InputTutorialModal id='inputTutorialModal' />
	<ExplainAppModal id='explainAppModal' />
</div>